{% extends "base.html" %}

{% block content_more2 %}
<div class="content-inicio">
    <h1>Bienvenido a mi sitio web</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tincidunt ante. Proin vel metus vel nisi varius facilisis. Vestibulum nec mauris nec risus volutpat volutpat.</p>
    
    <h2>Últimas Películas</h2>
    <ul>
        <li>Película 1</li>
        <li>Película 2</li>
        <li>Película 3</li>
    </ul>
    
    <h2>Últimas Series</h2>
    <ul>
        <li>Serie 1</li>
        <li>Serie 2</li>
        <li>Serie 3</li>
    </ul>
    
    <p>Más contenido aquí...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tincidunt ante. Proin vel metus vel nisi varius facilisis. Vestibulum nec mauris nec risus volutpat volutpat.</p>
    
    <h2>Últimas Películas</h2>
    <ul>
        <li>Película 1</li>
        <li>Película 2</li>
        <li>Película 3</li>
    </ul>
    
    <h2>Últimas Series</h2>
    <ul>
        <li>Serie 1</li>
        <li>Serie 2</li>
        <li>Serie 3</li>
    </ul>
    
    <p>Más contenido aquí...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tincidunt ante. Proin vel metus vel nisi varius facilisis. Vestibulum nec mauris nec risus volutpat volutpat.</p>
    
    <h2>Últimas Películas</h2>
    <ul>
        <li>Película 1</li>
        <li>Película 2</li>
        <li>Película 3</li>
    </ul>
    
    <h2>Últimas Series</h2>
    <ul>
        <li>Serie 1</li>
        <li>Serie 2</li>
        <li>Serie 3</li>
    </ul>
    
    <p>Más contenido aquí...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tincidunt ante. Proin vel metus vel nisi varius facilisis. Vestibulum nec mauris nec risus volutpat volutpat.</p>
    
    <h2>Últimas Películas</h2>
    <ul>
        <li>Película 1</li>
        <li>Película 2</li>
        <li>Película 3</li>
    </ul>
    
    <h2>Últimas Series</h2>
    <ul>
        <li>Serie 1</li>
        <li>Serie 2</li>
        <li>Serie 3</li>
    </ul>
    
    <p>Más contenido aquí...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tincidunt ante. Proin vel metus vel nisi varius facilisis. Vestibulum nec mauris nec risus volutpat volutpat.</p>
    
    <h2>Últimas Películas</h2>
    <ul>
        <li>Película 1</li>
        <li>Película 2</li>
        <li>Película 3</li>
    </ul>
    
    <h2>Últimas Series</h2>
    <ul>
        <li>Serie 1</li>
        <li>Serie 2</li>
        <li>Serie 3</li>
    </ul>
    
    <p>Más contenido aquí...</p>
    
    <!-- Puedes agregar más contenido según sea necesario -->
</div>
{% endblock %}