{% extends "base.html" %}

{% block content_more2 %}
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
<div class="flex-container" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="flex-horizontal">
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/juegos_prohibidos.webp') }}" alt="Peli 1">
            <div class="play-button" data-video="S7jL176VXNA?si=j5Ti7yLxdDzpubjl"><i class="fas fa-play"></i></div>
        </div>
        <div class="video-thumbnail">
            <img src="{{ url_for('static', filename='image/retribucion.jpg') }}" alt="Peli 2">
            <div class="play-button" data-video="jzQn0-WH4WM?si=Dzw8wuuFtZTt628r"><i class="fas fa-play"></i></div>
        </div>
    </div>
</div>
{% endblock %}