@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

/* Inicio styles base.html */
body {
    margin: 0;
    padding: 0;
    /*font-family: Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    background-color: #194457;
}

header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 40px; /* Separación del logo con respecto al menú de navegación */
}

.logo img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 60px; /* Separación del menú de navegación con respecto al logo */
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu li {
    display: inline-block;
    margin-right: 60px; /* Separación entre los elementos del menú de navegación */
}

.menu li a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s, opacity 0.3s;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.menu li a:hover {
    color: #00ffd0; /* Cambia el color al pasar el mouse sobre el enlace */
    opacity: 0.7; /* Cambia la opacidad al pasar el mouse sobre el enlace */
}

.main-content {
    background-color: #194457; /* Cambia esto al color de fondo deseado */
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.content-left {
    width: 70%;
    padding: 20px;
    /*margin: 0 auto;*/
    margin-inline-start: 20px;
    padding-top: 0px;
}

.content-right {
    width: 30%;
    padding: 20px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*height: 30px;*/
    flex-wrap: wrap;
    flex-direction: row;
}

.social-icons img {
    max-width: 30px;
    /*margin-right: 10px;*/
}

.social-icons {
    display: flex;
    flex: -1;
    gap: 10px;
    justify-content: center;
}

.social-media {
    flex: 1;
    text-align: right; /* Alinea el texto a la derecha */
    margin-right: 20px;
}

.copyright {
    flex: 1;
    text-align: right; /* Alinea el texto a la izquierda */
    margin-right: 20px;
    font-size: 14px;
}

/* Estilo para ocultar el footer */
.hidden-footer {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease; /* Agregar una transición suave para la animación */
}
/* Fin styles base.html */






/* Inicio styles content Inicio.html, peliculas.html y series.html */
.peliculas-inicio, .series-inicio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.title-content {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.pelicula-img, .serie-img {
    position: relative;
    z-index: 0;
    width: 222px;
    height: 296px;
    aspect-ratio: 3 / 4;
}

.pelicula, .serie {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pelicula-img i, .serie-img i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.play-icon-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 50px; /* Ajusta el tamaño del círculo según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

.play-icon {
    color: white;
    cursor: pointer;
}

.video-popup {
    display: none; /* Cambiamos display a flex para centrar elementos */
    position: fixed; /* Cambiamos a position: fixed para asegurarnos de que se quede en el centro de la pantalla */
    top: 50%; /* Centramos verticalmente en la mitad de la pantalla */
    left: 50%; /* Centramos horizontalmente en la mitad de la pantalla */
    transform: translate(-50%, -50%); /* Desplazamos hacia arriba y hacia la izquierda para centrarlo completamente */
    width: 70%; /* Tamaño razonable para el video-popup */
    height: 70%; /* Tamaño razonable para el video-popup */
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.video-container {
    position: relative; /* Cambiamos a position: relative para que no sea absoluto y herede la posición del video-popup */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    width: 100%; 
}

#video-iframe {
    position: absolute;
    width: 100%; /* Ancho al 100% para que ocupe todo el espacio dentro del video-container */
    height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}
/* Fin styles styles content Inicio.html, peliculas.html y series.html */




/* Formulario de contacto */
#contact-form {
    background-color: #333;
    color: #faf9f9;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Etiquetas */
label {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007bff;
    border-radius: 10px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

/* Botón */
#contact-form button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Estilo para el botón al pasar el ratón */
#contact-form button:hover {
    background-color: #0056b3;
}

/*
.image-tooltip {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transition: opacity 0.3s;
}
*/

.image-tooltip {
    display: none;
    position: fixed;
    background-color: #333;
    color: #f0f0f0;
    border: 2px solid #007bff;
    padding: 10px;
    width: 400px;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transition: opacity 0.5s;
    border-radius: 20px;
}
