<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- para agregar comentarios -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div id="top-bar">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
        <span>TrailerMovie</span>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/peliculas">Peliculas</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/contactanos">Contactanos</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <!-- Coloca aquí el pie de página si lo tienes -->
    </div>
</body>
</html>